.admin{
    display:flex;
    height:100vh;
    .admin-left{
        width:200px;
        background:red;
        height:100%;
    }
    .admin-right{
        flex:1;
        background:green;
        height:100%;
        display:flex;
        flex-direction: column;
        .admin-right-top{
            width:100%;
            height:100px;
        }
        .admin-right-center{
           flex:1;
           background:#fff;
        }
        .admin-right-footer{
            width:100%;
            height:100px;
        }
    }
}